<%- include("header") -%>
<div style="text-align: center;margin-top: 50px;">
<form action="/home" method="post">
    <p style="font-size: 28px;margin-top: 15px;">Enter Your Heading</p>
    <input type="text" name="head" style="height: 40px;width: 300px;">
    <p style="font-size: 28px;margin-top: 15px;">Enter Your Post</p>
    <input type="text" name="post" style="height: 300px;width: 600px;">
    <p style="font-size: 28px;margin-top: 15px;">Enter Your File Name</p>
    <input type="text" name="file" style="height: 30px;width: 250px;">
   <div style="margin-top: 15px;"> <button type="submit" name="pub" value="publ" class="btn btn-success btn-lg" >publish</button></div>
</form>
</div>
</div>
</body>